body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    min-height: 100vh;
}

.pre-container {
    width: 100%;
}

.content {
    flex: 1;
    display: flex;
}

/* Webkit 内核浏览器的滚动条样式 */
.left-div::-webkit-scrollbar,
.right-div::-webkit-scrollbar {
    width: 8px;
}

.left-div::-webkit-scrollbar-thumb,
.right-div::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

.left-div::-webkit-scrollbar-track,
.right-div::-webkit-scrollbar-track {
    background-color: #eee;
}

.left-div, .right-div {
    flex: 1;
    padding: 20px;
    border: 2px solid #ddd;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #555 #eee;
}

.left-div {
    background-color: #fff;
    font-size: 18px;
    color: #333;
}

.right-div {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #444;
}

.welcome-message {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    margin-bottom: 20px;
    border-radius: 0; /* 移除圆角 */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
}

footer button {
    margin: 0 10px;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Added styles for the checkbox */
.options-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.options-container label {
    margin-right: 10px;
    color: #555;
    font-size: 16px;
}

#next-problem {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Webkit 内核浏览器的滚动条样式 */
::-webkit-scrollbar {
    width: 0; /* 隐藏滚动条 */
}

/* 可选：如果需要更改滚动条颜色 */
::-webkit-scrollbar-thumb {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
