body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden {
    display: none;
}

.container {
    display: flex;
    min-height: 75vh;
}

.content {
    flex: 1;
    display: flex;
}
/* Webkit 内核浏览器的滚动条样式 */
.left-div::-webkit-scrollbar,
.right-div::-webkit-scrollbar {
    width: 8px;
}

.left-div::-webkit-scrollbar-thumb,
.right-div::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

.left-div::-webkit-scrollbar-track,
.right-div::-webkit-scrollbar-track {
    background-color: #eee;
}

.left-div, .right-div {
    flex: 1;
    padding: 20px;
    border: 2px solid #ddd;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #555 #eee;
}

.left-div {
    background-color: #fff;
    font-size: 18px;
    color: #333;
}

.right-div {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #444;
}


.welcome-message {
    background: linear-gradient(to right, #1901f0, #FF6B6B);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
}

footer button {
    margin: 0 10px;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

footer button:hover {
    background-color: #333;
}

.options-container {
    padding: 20px;

}

.options-container label {
    margin-right: 10px;
    color: #555;
    font-size: 16px;
}


#change-problem,#jump-btn  {
    background: linear-gradient(to right, #FF6B6B, #1901f0);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#content-container {
    margin: 0 auto;
    padding: 20px;
}



/* Hide the scrollbar */
::-webkit-scrollbar {
    width: 0;
}

/* Optional: If you need to change scrollbar color */
::-webkit-scrollbar-thumb {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Fieldset and legend styles */
fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
legend {
    color: #3E12DB;
    font-size: 20px;
    font-weight: bold;
}

label {
    margin: 0 10px;
    color: #555;
    font-size: 18px;
}

button {
    padding: 10px;
    background: linear-gradient(to right, #1901f0, #FF6B6B);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

input[type="checkbox"],
input[type="number"] {
    margin-right: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

